<header class="bg-primary text-white bg-mine">
  <div class="container text-center">
    <h1>My Template Driven Form</h1>
  </div>
</header>
<section id="about">
    <div class="container">
          <form #login = "ngForm" (ngSubmit) = "onFormSubmit(login.value)">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input required type="email" name="username" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="username_email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input required type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" ngModel>
                </div>
              </div>
            
             
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit"  type="submit" [disabled]="login.status != 'VALID'"  class="btn btn-primary">Sign in</button>
                </div>
              </div>
            </form>
      </div>
      </section>