

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="u_fNK">
            </div>
            <div class="u_fNK">
              <div>
                <div>
                  <div>
                    <div>
                      <div class="_5WizN _1QzSN">
                        <div class="_3YmQx">
                          <div class="_3QdKe">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-2"  *ngFor="let alb of album">
                <div class="card" *ngIf="alb.artworkUrl100">
                  <img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{alb.artworkUrl100}}">
                  <div class="card-block">
                    <h5 class="card-title">
                    {{alb.collectionName}}
                    </h5>
                    <p>
                        <a class="btn btn-primary-custom bg-mine" (click)="sendMessage(alb)">Show</a>
                        
                      </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>