<header class="bg-primary text-white bg-mine">
    <div class="container text-center">
      <h1>My Albums</h1>
    </div>
  </header>

<div class="container text-center">
  <div *ngIf="albumDetail">
    <h2 class="marginTop10">
      You selected: {{ albumDetail.collectionName }}
    </h2>
  </div>
</div>

<app-album-listing (messageEvent)="receiveMessage($event)"></app-album-listing>