<ul class="nav nannnn">
  <li class="nav-item">
    <a class="nav-link " href="/">Songs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/albums" [routerLinkActive]="'is-active'">Albums</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reactive-form" [routerLinkActive]="'is-active'">Reactive Form</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/template-form" [routerLinkActive]="'is-active'">Template Form</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/pipes" [routerLinkActive]="'is-active'">Pipes</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="/user" [routerLinkActive]="'is-active'">User</a>
  </li>
  
  
</ul>

