
<!-- <textarea name="textArea" id="textArea" [value] = "newPost" #inputValue>{{newPost}}</textarea> -->
<mat-card>
    <mat-form-field>
        <textarea name="textArea" matInput [(ngModel)] = "enteredValue"></textarea>
    </mat-form-field>

    <button color="primary" mat-raised-button (click)="onAddPost(inputValue)">Save Post</button>
</mat-card>

<p>{{ newPost }}</p>

