<header class="bg-primary text-white bg-mine">
    <div class="container text-center">
      <h1>My Songs</h1>
    </div>
  </header>

    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="u_fNK">
            </div>
            <div class="u_fNK">
              <div>
                <div>
                  <div>
                    <div>
                      <div class="_5WizN _1QzSN">
                        <div class="_3YmQx">
                          <div class="_3QdKe">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-2"  *ngFor="let aud of songsOnchild" >
                <div class="card" *ngIf="aud.artworkUrl100">
                  <img class="card-img-top" alt="Bootstrap Thumbnail First" src="{{aud.artworkUrl100}}">
                  <div class="card-block">
                    <h5 class="card-title">
                    {{aud.artistName}}
                    </h5>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>