<header class="bg-primary text-white bg-mine">
  <div class="container text-center">
    <h1>My Reactive Form</h1>
  </div>
</header>
<section id="about">
    <div class="container">
      <div class="row" [appHighlight]="color">
        <div class="col-lg-8 mx-auto">
            <input type="radio" name="colors" (click)="color='lightgreen'" >Green Form
            <input type="radio" name="colors" (click)="color='yellow'" [checked]="isChecked">Yellow Form
            <input type="radio" name="colors" (click)="color='cyan'">Cyan Form
  
          <form [formGroup]="angForm" (submit) = "onReactiveFormSubmit(angForm.value, username.value, password.value)">
            <div class="form-group">
              <label for="username">Name:</label>
              <input type = "text" 
              class="form-control"
              name = "username" 
              placeholder = "Name" 
              formControlName="username" 
              #username>
            </div>
  
            <div class="form-group invalid-feedback" *ngIf="angFormData.username.errors && (angFormData.username.dirty || angFormData.username.touched)">
              <div *ngIf="angFormData.username.errors.required">Username is required</div>
              <div *ngIf="angFormData.username.errors.minlength || angFormData.username.errors.maxlength">Username must be at least 2 and max 30 characters</div>
            </div>
  
            <div class="form-group">
              <label for="pwd">Password:</label>
              <!-- <input required class="form-control" id="pwd" type = "password" name = "pwd" placeholder = "Enter password!" ngModel> -->
              <input type = "password" 
              class="form-control"
              name = "pwd" 
              placeholder = "Password" 
              formControlName="password" 
              #password>
  
            </div>
            
            <div class="form-group invalid-feedback" *ngIf="angFormData.password.errors && (angFormData.password.dirty || angFormData.password.touched)">
              <div *ngIf="angFormData.password.errors.required">Password is required</div>
              <div *ngIf="angFormData.password.errors.minlength || angFormData.password.errors.maxlength">Password must be at least 6 and max 15 characters</div>
            </div>
           
  
            <div class="form-group" style="padding-left: 20px;">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && angFormData.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            </div>
  
            <div *ngIf="angFormData.acceptTerms.errors && (angFormData.acceptTerms.dirty || angFormData.acceptTerms.touched)" class="form-group invalid-feedback">
              Accept Ts & Cs is required
            </div>
  
            <div class="clearfix"></div>
  
            <button type="submit" [disabled]="angForm.status != 'VALID'" value = "submit" class="btn btn-default">Submit</button>
          </form>
          
        </div>
      </div>
    </div>
  </section>


